#hoofd {
    position: absolute;
    height: 300px;
    width: 300px;
    top: -95px;
    transition: 0.3s;
    object-fit: contain;
    background-repeat: no-repeat;
}

#gezicht {
    height: 300px;
    width: 300px;
    transition: 0.3s;
    top: 200px;
    background-repeat: no-repeat;
}

#mond {
    position: absolute;
    height: 120px;
    width: 300px;
    transition: 0.3s;
    top: 300px;
    background-repeat: no-repeat;
}