#hoofd {
    position: absolute;
    height: 300px;
    width: 300px;
    top: -95px;
    transition: 1s;
    object-fit: contain;
}

#gezicht {
    height: 300px;
    width: 300px;
    transition: 1s;
    top: 200px;
}

#mond {
    position: absolute;
    height: 100px;
    width: 300px;
    transition: 1s;
    top: 300px;
}