* {
    margin: 0;
    padding: 0;
}

#wrapper {
    margin:auto;
    width:70%;
}

body {
    background-color: aliceblue;
}

div {
    box-sizing: border-box;
    height: 100px;
    width: 100px;
    background-color: yellow;
    float: left;
}


